<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.category.home.title">Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category" [routerLink]="['/category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.category.home.createLabel">
            Create new Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jhipsterApp.category.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortOrder"><span jhiTranslate="jhipsterApp.category.sortOrder">Sort Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateAdded"><span jhiTranslate="jhipsterApp.category.dateAdded">Date Added</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateModified"><span jhiTranslate="jhipsterApp.category.dateModified">Date Modified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jhipsterApp.category.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parent.id"><span jhiTranslate="jhipsterApp.category.parent">Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories ;trackBy: trackId">
                <td><a [routerLink]="['/category', category.id, 'view' ]">{{category.id}}</a></td>
                <td>{{category.description}}</td>
                <td>{{category.sortOrder}}</td>
                <td>{{category.dateAdded | date:'mediumDate'}}</td>
                <td>{{category.dateModified | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jhipsterApp.CategoryStatus.' + category.status}}">{{category.status}}</td>
                <td>
                    <div *ngIf="category.parent">
                        <a [routerLink]="['../category', category.parent?.id, 'view' ]" >{{category.parent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/category', category.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/category', category.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'category', { outlets: { popup: category.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categories && categories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
