<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="jhipsterApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.address.address1">Address 1</span></dt>
                <dd>
                    <span>{{address.address1}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.address.address2">Address 2</span></dt>
                <dd>
                    <span>{{address.address2}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.address.city">City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.address.postcode">Postcode</span></dt>
                <dd>
                    <span>{{address.postcode}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.address.country">Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.address.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="address.customer">
                        <a [routerLink]="['/customer', address.customer?.id, 'view']">{{address.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
